$app-background-color: #b4ffc6;
$user-is-online-color: #07c63d;
$user-is-offline-color: #ee0b0b;

$main-background-color: #ece8ff;
$main-border-color: #797979;
$secondary-border-color: #d2d2d2;
$friend-list-item-border-color: #c2c2c2;

$name-text-color: #000000;
$statistics-text-color: #ffffff;
$transaction-hystory-head-table-background: #9cd9d3;
$shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
$border-radius: 5px;

$width: 320px;