@import "../variables.scss";

.typeCell,
.cell {
  width: calc(100% / 3);
  text-align: center;
  padding: 5px 0;
}

.typeCell {
  text-transform: capitalize;
}

.tableRow {
  background-color: $main-background-color;
}

.tableRow:nth-of-type(2n + 1) {
  background-color: $statistics-text-color;
}
